@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

body {
  width: 100vw;
  height: 100vw;
  font-family: 'Barlow Condensed', sans-serif;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: black;
}
